APP_ENV=development

HTTP_HOST=0.0.0.0
HTTP_PORT=8082

POSTGRES_HOST=postgres-course
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=course_db

IDENTITY_SERVICE_URL=http://identity:8081
INTERNAL_API_KEY=super-secret-api-key