APP_ENV=development

HTTP_HOST=0.0.0.0
HTTP_PORT=8083

POSTGRES_HOST=postgres-learning
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=learning_db

IDENTITY_SERVICE_URL=http://identity:8081
INTERNAL_API_KEY=super-secret-api-key