APP_ENV=development

HTTP_HOST=0.0.0.0
HTTP_PORT=8081
INTERNAL_API_KEY=super-secret-api-key

POSTGRES_HOST=postgres-identity
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=identity_db

JWT_SECRET=super-secret-key
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7
JWT_ISSUER=identity-service

